$desert-highlight: yellow;
$fields-highlight: orange;
$forest-highlight: green;
$hills-highlight: red;
$mountains-highlight: gray;
$pasture-highlight: lightgreen;

.territory {
    stroke-width: 4px;
    stroke-linejoin: round;
    fill: white;
}

.territory.desert {
    stroke: $desert-highlight;
}

.territory.fields {
    stroke: $fields-highlight;
}

.territory.forest {
    stroke: $forest-highlight;
}

.territory.hills {
    stroke: $hills-highlight;
}

.territory.mountains {
    stroke: $mountains-highlight;
}

.territory.pasture {
    stroke: $pasture-highlight;
}

.terrain-icon.fields {
    fill: $fields-highlight;
}
.terrain-icon.forest {
    fill: $forest-highlight;
}
.terrain-icon.hills {
    fill: $hills-highlight;
}
.terrain-icon.mountains {
    fill: $mountains-highlight;
}
.terrain-icon.pasture {
    fill: $pasture-highlight;
}

.high-frequency {
    color: magenta;
    fill: magenta;
}

.corner, .border {
    stroke: black;
    fill: black;
}

.corner.with-settlement, .border.with-road {
    fill: white;
}

.corner.blue, .border.blue {
    fill: blue;
}

.corner.white, .border.white {
    fill: white;
}

.corner.red, .border.red {
    fill: red;
}

.corner.orange, .border.orange {
    fill: orange;
}

.has-action {
    cursor: pointer;
}

.hand-icon {
    height: 1em;
    width: 1em;
    vertical-align: bottom;
}

.bank-offer-resource-to-receive-select {
    width: 6em;
}
