$desert-highlight: yellow;
$fields-highlight: orange;
$forest-highlight: green;
$hills-highlight: red;
$mountains-highlight: gray;
$pasture-highlight: lightgreen;

.territory {
    stroke-width: 4px;
    stroke-linejoin: round;
}

@keyframes pulsing-territory {
    from {
    }
    to {
        fill: lightgray;
    }
}

.territory.desert {
    stroke: $desert-highlight;
    fill: rgba($desert-highlight, 0.15);
    .has-action & {
        animation: pulsing-territory 1s infinite linear alternate;
    }
}

.territory.fields {
    stroke: $fields-highlight;
    fill: rgba($fields-highlight, 0.15);
    .has-action & {
        animation: pulsing-territory 1s infinite linear alternate;
    }
}

.territory.forest {
    stroke: $forest-highlight;
    fill: rgba($forest-highlight, 0.15);
    .has-action & {
        animation: pulsing-territory 1s infinite linear alternate;
    }
}

.territory.hills {
    stroke: $hills-highlight;
    fill: rgba( $hills-highlight, 0.15);
    .has-action & {
        animation: pulsing-territory 1s infinite linear alternate;
    }
}

.territory.mountains {
    stroke: $mountains-highlight;
    fill: rgba($mountains-highlight, 0.15);
    .has-action & {
        animation: pulsing-territory 1s infinite linear alternate;
    }
}

.territory.pasture {
    stroke: $pasture-highlight;
    fill: rgba($pasture-highlight, 0.15);
    .has-action & {
        animation: pulsing-territory 1s infinite linear alternate;
    }
}

.high-frequency {
    color: magenta;
    fill: magenta;
}

.corner, .border {
    stroke: lightgray;
    fill: lightgray;
}

.player-name {
    font-weight: bold;
    line-height: 200%;
}

.corner.blue, .border.blue {
    stroke: black;
    fill: blue;
}

.card.blue {
    background-color: blue;
    .card-title {
        color: white;
    }
}

.corner.white, .border.white {
    stroke: black;
    fill: white;
}

.card.white {
    background-color: white;
}

.corner.red, .border.red {
    stroke: black;
    fill: red;
}

.card.red {
    background-color: red;
    .card-title {
        color: white;
    }

}

.corner.orange, .border.orange {
    stroke: black;
    fill: orange;
}

.card.orange {
    background-color: orange;
    .card-title {
        color: white;
    }
}

.corner.brown, .border.brown {
    stroke: black;
    fill: chocolate;
}

.card.brown {
    background-color: chocolate;
    .card-title {
        color: white;
    }
}

.corner.pink, .border.pink {
    stroke: black;
    fill: pink;
}

.card.pink {
    background-color: pink;
    .card-title {
        color: black;
    }
}

.corner.teal, .border.teal {
    stroke: black;
    fill: teal;
}

.card.teal {
    background-color: teal;
    .card-title {
        color: white;
    }
}

@keyframes pulsing {
    from {
        fill: lightgray;
        stroke: lightgray;
    }

    to {
        fill: darkgray;
        stroke: black;
    }
}

.has-action {
    cursor: pointer;
}

.border.has-action, .corner.has-action {
    animation: pulsing 1s infinite linear alternate;
}


.hand-icon {
    height: 1em;
    width: 1em;
    vertical-align: text-bottom;
}

.robber {
    fill: gray;
}

.board {
    width: 100%;
}

.dice {
    font-size: 300%;
    margin-top: -20px;
}
